# Copyright (c) 2023-present VPMedia
# author: Andras Csizmadia <andras@vpmedia.hu>
# see: https://docs.docker.com/engine/reference/builder/#dockerignore-file

.github/
.idea/
.vscode/
build/
node_modules/
.DS_Store
