#
# Copyright (c) 2023-present VPMedia
# author: Andras Csizmadia <andras@vpmedia.hu>
# see: https://docs.npmjs.com/cli/v8/using-npm/developers#keeping-files-out-of-your-package
#

logs/
node_modules/
src/
.dockerignore
.DS_Store
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
lint-staged.config.js
.npmignore
.npmrc
.prettierignore
prettier.config.js
Dockerfile
jest.config.js
